# macOS
.DS_Store

# Terraform state
*.tfstate
*.tfstate.backup

# Terraform local directories
.terraform/

# Terraform override files
override.tf
override.tf.json
*_override.tf

# Variable definitions (якщо вони містять реальні секрети)
*.auto.tfvars
*.tfvars
# але зберегти приклади
!*.tfvars.example

# CLI credentials (якщо випадково потраплять у проект)
.aws/

